<div id="metric_block" class="sb_container">
    <div id="metric_content">
        <ul>
            <li><span class="metric_value"><%=@team.app.teams.size%></span>Teams</li>
            <li><span class="metric_value"><%=@team.app.users.size%></span>Members</li>
        </ul>
        <div id="join_project_wrapper">
        <div id="join_project">
            
          <% if current_user && current_user.region %>
            <% if @team.app.teams.where(:region_id => current_user.region).blank?%>
              <%= button_to "Start this in #{current_user.region.nick_name}", app_teams_path(@team.app) %>
            <% else %>
              <%=link_to "Goto #{current_user.region.nick_name}'s Page", @team.app.teams.where(:region_id => current_user.region).first.to_url%>
            <% end %>
          <% else %>
            Join the Geek Corps to help start this project
          <% end %>            
        </div>
        </div>
    </div>
</div>
