<div id="metric_block" class="sb_container">
    <div id="metric_content">
        <ul>
            <li><span class="metric_value"></span>Teams</li>
            <li><span class="metric_value"></span>Members</li>
        </ul>
        <div id="join_project_wrapper">
        <div id="join_project">

        </div>
        </div>
    </div>
</div>
