<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Core Team</div>
    <div class="sidebar_box_content ">
      <% @team.team_members.where(:admin => true).each do |organizer|%>
      <div class="supporter_image">
        <%= link_to image_tag(organizer.user.person.photo.url, :alt => organizer.user.person.name, :class => "medium-avatar"), organizer.user.person %>
      </div>
      <%end%>
      <div class="clear"></div>    
      <div class="sidebar_box_more_info"><%= link_to 'Full List', team_people_path(@team.hypen_name), :class => 'arrow-icon' %></div>
      <div class="clear"></div>
    </div>
</div>
