<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Regional Teams</div>
    <div class="sidebar_box_content ">
      <div class="clear"></div>    
      <div class="sidebar_box_more_info"><%= link_to 'Full List', team_people_path(@team.hypen_name), :class => 'arrow-icon' %></div>
      <div class="clear"></div>
    </div>
</div>
