<div class="side-bar-item">
    <div class="side-bar-box-title"><%=@team.region.city%> Team Members</div>
    <div class="sidebar-box-content">
      <% @team.team_members.where(:team_role => 'supporter').each do |supporter|%>
      <div class="supporter-image">
        <%=link_to (image_tag supporter.user.person.photo.url(:medium), :class => "small-avatar", :alt =>supporter.user.person.name ), supporter.user.person, :alt =>supporter.user.person.name  %>
      </div>
      <%end%>
      <div class="clear"></div>
      <div class="sidebar-box-more-info supporters-fix"><%= link_to 'Full List', teams_people_path(@team.name), :class => 'arrow-icon' %></div>
        <div class="clear"></div>
    </div>
</div>
