<div class="sidebar_box sb_container"> 
    <div class="sidebar_box_title"><%=@team.region.city%> Team Members</div> 
    <div class="sidebar_box_content"> 
      <% @team.team_members.where(:team_role => 'supporter').each do |supporter|%>
      <div class="supporter_image">
        <%= image_tag supporter.user.person.photo.url %>
        <%=link_to supporter.user.person.name, supporter.user.person %>
      </div> 
      <%end%>
      <div class="clear"></div> 
        <div class="sidebar_box_more_info supporters_fix"><a href="#" class="arrow-icon">Full List</a></div> 
        <div class="clear"></div> 
    </div> 
</div>