
.sidebar
  .well
    %h3 Location:
    %h3 Application:
    %h3 Skills:
    %ul
    - get_skills.each do |skill|
      %li
        = skill
.content
  %h1
    = "Found #{@teams.size} Teams"

  %h1
    Searching teams for all skills in all regions

  = render :partial => 'list', :object => @teams


