<div id="content">
  <div id="title-main">
    <%= render "shared/app_header"%>
  </div>
  <div id="guide-side-bar">
    <%= render "shared/guide_sidebar"%>
  </div>

  <div id="guide-main-bar">
    <div id="step-detail">
      <ul>
        <li class="step-title">Step 1: <span>Do Something</span><span class="detail-edit"><a href="#">EDIT</a></span></li>
        <li class="step-tags">Tags: <span>dev, design</span></li>
        <li class="step-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan dui at ligula fermentum id commodo odio luctus. Mauris dui tellus, faucibus sed auctor sed, rutrum et sapien. Integer imperdiet commodo dui a suscipit. Suspendisse semper tellus in nibh congue tristique. Proin dignissim, enim vitae lobortis auctor, erat massa congue nulla, et bibendum est purus at eros. Curabitur diam mauris, pretium in dignissim at, placerat et velit. Pellentesque ultricies justo et felis interdum interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ultrices dignissim neque id tristique. Integer et mi ut urna viverra posuere vel at arcu. Praesent risus massa, congue vel mollis nec, bibendum quis augue. Sed adipiscing mattis nibh et accumsan. Vivamus lacinia auctor scelerisque. Sed eu eros accumsan lacus porttitor pharetra id a dolor. Integer et dui massa. Quisque lobortis fringilla erat in dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, ante non mattis semper, nisl sem pretium lacus, in malesuada magna tortor quis ipsum. Donec sit amet pulvinar diam. Etiam in purus neque. 
        </li>
        <li class="step-req">Is required: <span>Eventually</span></li>
        <li class="step-time">Time budget: <span>100hrs</span></li>
        <li class="step-cost">Money budget: <span>$1,000</span></li>
      </ul>
    </div>
  </div>
</div>
