<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Admin Functions</div>
    <div class="sidebar_box_content ">
      <ul>
        <li>Inactivate User</li>
        <li><%=link_to "#{@person.user.admin? ? 'Unadmin User' : 'Make User Admin'}", adminify_user_path(@person.user), :method => :post%></li>               
      </ul>
      <% form_for @person do |f| -%>
      <%= f.label :cfa_list, "Special CfA Tags" %>
      <%= f.text_field :cfa_list %>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
      <% end -%>
      <div class="clear"></div>
    </div>
</div>
