<ul id="front-list" class="main-list-type">
  <% @people.each do |person|%>
  <li class="front-box <%= region_name_underscored(person.user.region)%> <%=skill_list(person.skill_list)%>">
    <h3><%= link_to person.name, polymorphic_path(person) %></h3>
    <%= image_tag person.photo.url %>
  </li>
  <% end %>
</ul>