<div class="sidebar_box sb_container">
    <div class="sidebar_box_title"><%=@person.name%>'s Teams</div>
    <div class="sidebar_box_content ">
      <ul>
      <% @person.user.teams.each do |team|%>
      <li>
        <%= link_to team.name, team.to_url %>
      </li>
      <%end%>
      </ul>
      <div class="clear"></div>
    </div>
</div>
