<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
      PEOPLE!
    </h1>
    <p>
      I don't write copy so well, some day this just might be inspiring? witty? ...engaging???
    </p>
  </div>
<% end %>

<%= render :partial => 'shared/search', :locals => {:resource => @people.first.class.new} %>

<%= render :partial => 'shared/list', :object => @people %>

