<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
      People
    </h1>
    <p>
      We're recruiting. Everyday folks. Entrepreneurs and Activists.
      Artists and Technicians. We want to help you deploy the Apps that
      can make your community stronger, safer and more prosperous. To
      do that we need the Devs, the Sys Admins, Hackers... The Geeks
      out there. Here is where Geek, Activist and Entreprenuer can come
      together...    Who do you need for your App?
    </p>
  </div>
<% end %>

<%= render :partial => 'shared/search', :locals => {:resource => @people.first.class.new} %>

<%= render :partial => 'shared/list', :object => @people %>

