<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
      People
    </h1>
    <p>
      We're recruiting. Everyday folks. Entrepreneurs and activists.
      Artists and technicians. We want to help you deploy apps that
      can make your community stronger, safer and more prosperous. To
      do that we need the devs, the designers, the sysadmins, the hackers... The Geeks out there. Here is where Geek, Activist, Entrepreneur, and Citizen can come together...    Who do you need for your app?
    </p>
  </div>
<% end %>

<%= render :partial => 'shared/search', :locals => {:resource => Person.new} %>

<%= render :partial => 'shared/list', :object => @people %>

