/**
 * Main CSS for City-Hero
 */

/**
 * General HTML elements styles
 */
body {
    background:#fff;
    font-family:Helvetica, Arial, sans-serif;
    color:#333;
    font-size:12px;
    padding:0;
    margin:0;
    line-height: 150%;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    }

h1 { font-size:2em;}
h2 { font-size:1.5em;}
h3 { font-size:1.25em;}

/***
*
*#page-heading h1 {
*    font-weight: bold;
*    font-size: 4.2em;
*    text-transform: uppercase;
*    color: #992739;
*    line-height: 100%;
*}
*
*#page-heading h2 {
*    font-weight: bold;
*    font-size: 1.6em;
*    text-transform: uppercase;
*}
*
*#page-heading h2 a {
*    color: #992739;
*}
*
***/

#page-heading {
    font-family: Helvetica, Arial, sans-serif;
}

#page-heading h1 {
    font-size: 4em;
    line-height: 120px;
    margin: 0 0 0 54px;
}

#page-heading p {
    font-size: 2em;
    padding: 0 42px;
    text-indent: 12px;
    margin-top: 12px;
    word-spacing: 3px;
}

#main-search {
    font-size: 2.5em;;
    -moz-border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
    border-radius: 12px 0 0 12px;
}

#main-submit {
    background-color: black;
    padding: 6px;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
}

#title-main {
    position: relative;
    float:left;
    width: 60%;
    margin-bottom: 15px;
}

#title-main h1 {
    margin: 0px 0px 5px 0px; 
    line-height: 100%;}

#title-main h2 {
    margin: 0px 0px 5px 0px;
}

#title-main h3 {
    margin: 0px 0px 5px 0px;
}

#app-image {
    
}

#app-image img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.title-content {
    
}
a:link, a:visited {
    color:#96a044;
    text-decoration:none;
}

a:hover, a:active {
    color:#96a044;
    text-decoration:underline;
}
.project_block a:hover, .project_block a:active {
    text-decoration:none;
    }

.right { float:right; }
.left { float:left; }

p {
    margin-top: 1em;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

/**
 * General class styles
 */

.clear { 
    clear: both;
}

.wrapper {
    width: 1024px;
    position:relative;
    left:50%;
    margin-left:-512px;
}

#feedback {
    background-image: url("http://s3.amazonaws.com/getsatisfaction.com/images/feedback_trans_tab.png");
    background-color: #222;
    color: white;
    cursor: pointer;
    height: 102px;
    left: 0;
    margin-left: -7px;
    overflow: hidden;
    position: fixed;
    text-indent: -100000px;
    top: 25%;
    width: 42px;
    z-index: 100000;
    -moz-box-shadow: 1px 1px 2px #666;
}

#feedback:hover {
    margin-left: -4px;
}

.hidden {
    display: none;
}

/** 
 * Header section
 */

#header {
    height:40px;
    padding:10px 20px;
    margin-bottom:30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    color:#fff;
    background-color: #533549;
    -webkit-box-shadow: 0px 2px 5px #666;
    -moz-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;
}

#header a {
    color: white;
}

#gc-logo {
    float: left;
    margin-right: 30px;
    font-size: 1.7em;
}

#main-nav {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#main-nav li {
    padding-right: 15px;
    float: left;
}

/**
 * In-place login form mess
 */
 
.quick_ease, #front_nav li a, #front_nav li .count,
main-nav li a, #main-nav li .count, #header h1 a, #header h1 img {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#sign-in-form {
    -moz-transition-property: height, opacity;
    -webkit-transition-property: height, opacity;
    -o-transition-property: height, opacity;
    transition-property: height, opacity;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#sign-in {
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -khtml-border-radius: 0.2em;
    border-radius: 0.2em;
}

#sign-in-form {
    position: absolute;
    top: 3.45em;
    left: 50%;
    z-index: 99;
    width: 250px;
    margin-left: 210px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
    -moz-box-shadow: #333333 1px 1px 5px 0;
    -webkit-box-shadow: #333333 1px 1px 5px 0;
    -o-box-shadow: #333333 1px 1px 5px 0;
    box-shadow: #333333 1px 1px 5px 0;
}

#sign-in-form.open {
    border-width: 3px;
    height: 110px;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    padding-bottom: 5px;
}

#sign-in-form.open {
    height: 120px;
}

#sign-in-form.open li {
    list-style: none;
}

#sign-in-form.open li li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
}

#header #account-box {
    font-family: sans-serif;
    font-size: .8em;
    float: right;
    text-transform: none;
    width: 250px;
}

#header #account-box img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
#header #account-box p {
    margin-top: 3px;
}

#header #account-box a {
    text-decoration: underline;
}

#header #account-box .name {
    display: block;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

/**
 * People / apps lists and grids
 */
 
.count {
    background: #eeff88;
    padding-left: 12px;
    border-radius: 10px;
}

.suboptions {
    padding: 8px 10px;
    margin: 0 0 15px 0;
    background: #e6a74d;
}

.suboptions a {
    color: white;
}

#new-person, #new-app {
    float: right;
}

#view-options span {
    margin-right: 20px;
}

#main {
    background: white;
}

/***
*
*#main .front-list li {
*    width: auto;
*}
*
*#main .front-list li h3 {
*    display: inline;
*    margin-right: 0.5em;
*}
*
**/

#front-list {
    overflow: hidden;
    border: 20px solid #E9E9E9;
    padding: 30px;
    -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
}

.main-list-type li {
    position: relative;
    float: left;
    margin: 10px;
    width: 220px;
    height: 220px;
}

.main-list-type li img {
    width: 220px;
    height: 220px;
}

.main-list-type h3 {
    background-color: rgba(255, 255, 255, .7);
    margin: 0;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: center;
    font-size: 1.9em;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

/**
 * Footer
 */

#footer {
    height: 140px;
    font-weight: bold;
    margin-top: 30px;
    clear: both;
}

#footer ul {
    margin: auto;
}

#footer ul li {
    list-style: none;
    display: block;
    float: left;
    border-right: 1px solid #666;
    padding: 0 4px 0 4px;
}

#footer ul li:last-child {
    border:none;
}

#footer ul li a {
    color: #533549;
    text-transform: uppercase;
}

#maker, #props, #footer q {
    float: left;
    clear: left;
}

#cfa-logo {
    float: right;
    margin-top: 1em;
    display: block;
}

#footer span {
    color: #333333;
}

#footer p {
    color: #999;
}

.app-name {
    font-size: 4em;
}

#app-nav li {
    display: block;
    font-size: 1.5em;
    float:left;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}

#app-nav li:first-child {
    margin-left: 40px;
}

#content {
    clear: both;
}

#main-bar {
    position: relative;
    float:left;
    width: 60%;
    border: 22px solid #E9E9E9;
    margin: 20px 20px 20px 0;
    -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
}

/***
 *  Help CSS Wizard! I'm not a CSS guru, was able to get
 *  this to work on the main page, but haven't been able to
 *  get it to work on the apps show page. Must move on to
 *  business logic....  Help!!
 *
*#main-bar:before, #main-bar:after {
*    position: absolute;
*    width: 40%;
*    height: 10px;
*    content: ' ';
*    left: 1px;
*    bottom: -10px;
*    background: transparent;
*    -webkit-transform: skew(-5deg) rotate(-4deg);
*    -moz-transform: skew(-5deg) rotate(-4deg);
*    -ms-transform: skew(-5deg) rotate(-4deg);
*    -o-transform: skew(-5deg) rotate(-4deg);
*    transform: skew(-5deg) rotate(-4deg);
*    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
*    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
*    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
*    z-index: -1;
*}
*
*#main-bar:after {
*    left: auto;
*    right: 12px;
*    -webkit-transform: skew(5deg) rotate(4deg);
*    -moz-transform: skew(5deg) rotate(4deg);
*    -ms-transform: skew(5deg) rotate(4deg);
*    -o-transform: skew(5deg) rotate(4deg);
*    transform: skew(5deg) rotate(4deg);
*}
*
***/

#side-bar {
    float: right;
    width: 30%;
    margin-top: -50px;
}

.main-visual {
    display: block;
    width: 600px;
    height: 450px;
}

#social-bar {
    background-color: #ccc;
}

.project-text {
    position: relative;
    margin: 0 -47px 0 -47px;
    padding: 10px 47px 10px 47px;
    background-color: #333;
    color: #eee;
}

.project-text:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    border-width: 5px 13px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}

.project-text:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: -10px;
    border-width: 5px 13px;
    border-style: solid;
    border-color: #666 transparent transparent #666;
}

#main-side-bar-block {
    border: 20px solid #533549;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #533549;
    -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
    font-family: Helvetica, Arial, sans-serif;
}

#main-side-bar-block li {
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    }

    #metric_block {
        background-color: transparent;
        padding: 0px;
        border-width: 20px 24px 29px 24px;
        border-image: url(/images/stats-border.png) 20 24 29 24 stretch;
        -moz-border-image: url(/images/stats-border.png) 20 24 29 24 stretch;
        -webkit-border-image: url(/images/stats-border.png) 20 24 29 24 stretch;
    }

    #metric_content {
        background-color: #e9e9e9;
        text-transform: uppercase;
        -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
        padding-top: 1px;
        padding-bottom: 5px;
    }

    #metric_content ul {
        color: #533549;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 13px;
    }

    #metric_content li {
        display:block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size:1.5em;
    }

    #metric_content .metric_value {
        font-size: 1.8em;
        color: #992739;
        margin-right: 10px;
    }

    #metric_content #join_project {
        background-color: #992739;
        padding: 2px 24px 0px 24px;
        width: 260px;
        height: 40px;
        color: #fff;
        margin-top: 10px;
        text-align: center;
    }

    #join_project_wrapper {
        width: 308px;
        height: 40px;
        margin-left: -25px;
        border-width: 0 0 8px 0;
        border-image: url(/images/join-ribbon-shadow.png) 0 0 10 0 stretch;
        -moz-border-image: url(/images/join-ribbon-shadow.png) 0 0 10 0 stretch;
        -webkit-border-image: url(/images/join-ribbon-shadow.png) 0 0 10 0 stretch;
    }

    #metric_content #join_project a {
        color: #ffffff;
        text-decoration: underline;
        font-size: 1.2em;
        margin-left: 35px;
        line-height: 40px;
    }
    
    /**
     * Sidebar
     *
     * Use body class of .sidebar-layout for different layout CSS.
     */
    .sidebar-layout #content {
        width: 570px;
    }

    .sidebar-layout .content-inner {
        padding: 0;
    }

    #sidebar {
        width:320px;
        padding:0;
        float:left;
    }

    #sidebar {
        margin-bottom: 1em;
    }

    .sidebar_box {
        border-width: 8px 4px 9px 4px;
        border-image: url(/images/widget-border.png) 8 4 9 4 stretch;
        -moz-border-image: url(/images/widget-border.png) 8 4 9 4 stretch;
        -webkit-border-image: url(/images/widget-border.png) 8 4 9 4 stretch;
    }

    .sidebar_box .sidebar_box_image{
        width: 150px;
        height: 150px;
        background-color: #eeeeee;
        float: left;
        margin-right: 15px;
    }

    .sidebar_box .sidebar_box_title {
        text-transform: uppercase;
        background-color: #e89a41;
        padding: 0px 0px 8px 16px;
        color: #ffffff;
        font-size: 1.5em;
        margin: 0;
        font-weight: bold;
    }

    .sidebar_box .sidebar_box_name {
        color: #992739;
        text-transform: uppercase;
    }

    .sidebar_box .sidebar_box_text {    
        color: #533549;
    }

    .sidebar_box .sidebar_box_more_info a,
    .sidebar_box .sidebar_box_more_info button {
        color: #533549;
        font-size: 1.5em;
        border: none;
        text-transform: uppercase;
    }

    .sidebar_box .sidebar_box_more_info button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .sidebar_box .sidebar_box_more_info {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }

    .sidebar_box .supporters_fix {
        position: static;
        float: right;
    }
    
.small-avatar { width: 40px; height: 40px; margin-right: 5px; }
.medium-avatar { width: 80px; height: 80px; margin-right: 5px; }

.supporter_image {
    height: 80px;
    width: 80px;
    background-color: #eeeeee;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

    .sidebar_box p { font-size: 1.3em; }

    .arrow-icon {
        background-image: url(/images/arrow-right.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-left: 35px;
    }

    .target-icon {
        background-image: url(/images/target-icon.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-left: 35px;
        padding-bottom: 1px;
    }

    .sidebar_box .sidebar_box_content {
        padding: 10px 10px 20px 20px;
        background-color: #ffffff;
        font-size: 1em;
        border: 1px solid #ccc;
        position: relative;
    }

    .sb_container {
        margin-bottom: 20px;
    }

    .sidebar_box .help_list {
        list-style-type: none;
    }
    .sidebar_box .help_list li {
        background-color:#ccc;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        background-image: url(/images/check-white-icon.png);
        background-repeat: no-repeat;
        background-position: 90% center;
    }

    .sidebar_box li.needs_help {
        color: #663333;
        background-color: #ffffff;
        padding-right: 0;
    }

    .sidebar_box li .i_can_help {
        background-color: #992739;
        color: #ffffff;
        font-size: 0.8em;
        display: block;
        width: 40px;
        height: 30px;    
        padding: 5px 20px;
        line-height: 120%;
        float: right;
        margin-top: -10px;

        -moz-box-shadow: 0 0 7px #888;
        -webkit-box-shadow: 0 0 7px #888;
        box-shadow: 0 0 7px #888;
    }    

#block-heading-wrapper {
    margin: 10px -40px;
    padding: 10px;
    background-color: #992739;
    color: #eee;
}


.side-bar-item {
    width: 100%;
    margin: 10px auto;
    -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
}

.side-bar-box-title {
    background-color: #E89A41;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.6em;
    font-weight: 700px;
    padding: 10px;
}

.side-bar-box-content {
    margin: 10px;
    font-size: 1.2em;
}

/* Activity Feed and Comments */


#feed-wrapper {
	background:#e9e9e9;
	width:620px;
	}
#activity-feed {
	width:560px;
	background:#FFF;
	padding:25px;
	clear:both;
	}
.feed-item {
	float:left;
	margin-bottom:20px;
	min-height:62px;
	width:520px;
	}
#activity-feed img {
	float:left;
	width: 60px;
	}
#activity-feed a {
	color:#992739;
	text-decoration:none;
	}
#activity-feed a:hover {
	text-decoration:underline;
	}
	
#feed-wrapper h1 {
	font-size:20px;
	color:#533549;
    padding: 10px;
	}
    		
.comment-body, .comment-stamp, .comment-user {
	width:450px;
	float:right;
	}
.comment-body {
	line-height:120%;
	font-size: 1.5em;
	margin: 10px 0px 10px 0px;
	}
	
.comment-stamp {
	font-size:10px;
	}
#activity-feed textarea {
	width:480px;
	height:50px;
	padding:10px;
	border:0;
	margin-bottom:10px;
	}
#comment-subform {
	background:#e9e9e9;
	padding:10px;
	margin:0;
	border:0;
	clear:both;
}

#guide_submit {
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 10px;
	background:#992739;
	color:#FFF;
	border:0;
	margin: 5px;
	cursor:pointer;
}

#comment_submit {
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 10px;
	background:#992739;
	color:#FFF;
	float:right;
	border:0;
	cursor:pointer;
}

#comment_flag {
	border:0;
	color:#EEE;
	background:transparent;
	font-size:20px;
	font-weight:bold;
	padding:2px 10px;
	width:450px;
	float:left;
	*width:450px;
	*background:#999;
	cursor:pointer;
}

#mainselection {
	overflow:hidden;
	width:415px;
	background: url("select-arrow.png") no-repeat scroll 380px 6px #999;
	float:left;
}

/**
 * Guide
 *
*/

#guide-main-bar {
    position: relative;
    float:right;
    width: 60%;
    border: 22px solid #E9E9E9;
    -moz-box-shadow: 1px 1px 4px #444;
    -webkit-box-shadow: 1px 1px 4px #444;
    box-shadow: 1px 2px 3px #444;
}
#guide-side-bar, #people-sidebar {
    float: left;
    width: 30%;
    clear: both;
}

/*Goal*/
#guide-side-bar ul,  #people-sidebar ul {
	background:#fff;
	display:block;
	list-style:none;
	margin:0;
	}
#guide-side-bar ul li {}
#guide-side-bar ul li h3 {
	background:#533549 url(../images/arrows.png) right -40px no-repeat;
	border-bottom:#e9e9e9 1px solid;
	padding: 5px 40px 5px 10px;
  margin-bottom: 0;
	color:#FFF;
	text-transform:uppercase;
	cursor:pointer;
	}
#guide-side-bar ul li h3.collapsed {
  background-position-y: 0;
}
#guide-side-bar ul li p {
	padding: 10px;
	margin:0 0 10px 0;
	font-size:10px;
	}

/*Milestone*/
#guide-side-bar ul ul {
	background:#fff;
	display:block;
	list-style:none;
	margin:0;
	padding: 0 10px;
	}
#guide-side-bar ul ul li {}
#guide-side-bar ul ul li h4 {
	background:#999 url(../images/arrows.png) right -40px no-repeat;
	padding: 5px 40px 5px 10px;
	margin: 0 -10px;
	text-transform:uppercase;
	cursor:pointer;
  border-bottom: 1px #fff solid;
	}
#guide-side-bar ul ul li h4 a{
  color: #FFF;
}
#guide-side-bar ul ul li h4.collapsed {
  background-position-y: 0;
  }
#guide-side-bar ul ul li p {
	padding: 10px;
	margin:0 -10px 10px -10px;
	font-size:10px;
	}	

/*Step*/
#guide-side-bar ul ul ol {
	background:#fff;
	display:block;
	list-style:none;
	margin:0 0 10px 0;
	padding: 5px 10px;
	}
#guide-side-bar ul ul ol li {}
#guide-side-bar ul ul ol li h5 {
	background:#FFF url(../images/step-indicate.png) right 0 no-repeat;
	border-bottom:#CCC 1px dotted;
	margin: 0 -20px;
	padding: 5px 40px 5px 10px;
	color:#533549;
	text-transform:uppercase;
	cursor:pointer;
	}
#guide-side-bar ul ul ol li.opened h5 {
  background-position-y: -40px;
}
#guide-side-bar ul ul ol li p {
	padding: 10px;
	margin:0 -20px 10px -20px;
	font-size:10px;
	}	
	
/**
 * People listing w. filtering sidebar
 *
*/

#people-sidebar {
    margin: 0;
    padding: 0;
    border-width: 0;
    }

#people-sidebar h2 {
    background-color: #E89A41;
    color: #FFF;
    padding: 10px 40px 10px 10px;
    }

#people-sidebar h2, #people-sidebar h3{
     text-transform: uppercase;
     }

#people-list {
    position: relative;
    float:right;
    width: 62%;
    background-color: #ffffff;
    }

/* --- Profile View by Pete --- */

#flash {
	margin:-20px 0 20px 0;
	line-height:30%;
	}
.message {
	padding:20px 10px;
	background-color:#96a044;
	color:#FFF;
	font-size:18px;
	}
.message_type {
	display:block;
	float:left;
	margin-right:10px;
	font-weight:bold;
	}
.message_content {
	display:block;
	float:left;
	}

.single-user-name {
	font-size:30px;
	font-weight:bold;
	}
.single_record {
	clear:both;
	}
.single_record .links {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:#CCC 1px dotted;
	}
.single_record .section {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:#CCC 1px dotted;
	}
.single_record img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	}
.auth-delete {
	display:block;
	margin-top:4px;
	font-size:0px;
	background:url(../images/authbuttons/auth-delete.png) no-repeat;
	height:16px;
	width:16px;
	float:left;
	}
.auth-add {
	display:block;
	margin-top:4px;
	font-size:0px;
	background:url(../images/authbuttons/auth-add.png) no-repeat;
	height:16px;
	width:16px;
	float:left;
	}
ul.auth_providers {
	padding-bottom:20px;
	}
ul.auth_providers .twitter {
	display:block;
	float:left;
	background:url(../images/authbuttons/twitter_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
	}
ul.auth_providers .open_id {
	display:block;
	float:left;
	background:url(../images/authbuttons/open_id_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
	}
ul.auth_providers .google {
	display:block;
	float:left;
	background:url(../images/authbuttons/google_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
	}
ul.auth_providers .facebook {
	display:block;
	float:left;
	background:url(../images/authbuttons/facebook_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
	}
ul.auth_providers .linked_in {
	display:block;
	float:left;
	background:url(../images/authbuttons/linked_in_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
    }
ul.auth_providers .github {
	display:block;
	float:left;
	background:url(../images/authbuttons/github_32.png) no-repeat;
	font-size:0px;
	height:32px;
	width:32px;
	}
.record_actions {
	margin-left:20px;
	padding-bottom:40px;
	}
ul.auth_providers li {
	display:block;
	float:left;
	margin-right:20px;
	}
.teams-title {
	display:block;
	float:left;
	font-size:18px;
	font-weight:bold;
	clear:both;
	padding-bottom:10px;
	}

	
form.edit_person {
	clear:both;
	margin:30px 10px 0 10px;
	border:0;
}
form.edit_person label {
	margin:10px 0;
	border:0;
	color:#FFF;
	text-transform:uppercase;
	padding:5px 10px;
	background:#533549;
}
form.edit_person input {
	width:570px;
	border: 2px #e9e9e9 dotted;
	padding:10px;
	margin:10px 0;
	}
#person_bio {
	width:570px;
	border: 2px #e9e9e9 dotted;
	padding:10px;
	margin:10px 0;
	}
#person_photo_import_url {
	border: 2px dotted #E9E9E9;
    color: #CCCCCC;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-transform: uppercase;
    width: 235px;
	}
#person_location {
	margin:10px 0;
	}
#person_submit {
    font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 10px;
	background:#992739;
	color:#FFF;
	border:0;
	cursor:pointer;
	float:right;
	width:auto;   
}
	
/* --- Step details --- */

#step-detail {
	padding:0 20px;
	background:#FFF;
	text-transform:uppercase;
	}
#step-detail p {
	text-transform:none;
	}
#step-detail h6 {
	color:#999;
	font-size:10px;
	font-weight:normal;
	}
#step-detail ul {
	background:#FFF;
	display:block;
	list-style:none;
	margin:0 0 20px 0;
	}
.step-title {
	font-size:30px;
	color:#333;
	margin:0 -20px 10px -20px;
	padding:10px 20px;
	background:#96a044;
	font-weight:bold;
	line-height: 130%;
	}
.step-title span {
	color:#FFF;
	line-height: 100%;
	}
.step-desc {
	text-transform:none;
	color:#333;
	font-size:12px;
	line-height:150%;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:#CCC 1px dotted;
	}
.step-desc h6 {
	text-transform:uppercase;
	margin-bottom:5px;
	}
.step-req {
	color:#999;
	font-size:12px;
	float:left;
	margin-right:20px;
	}
.step-req span {
	color:#533549
	}
.step-time {
	color:#999;
	font-size:12px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px #CCC dotted;
	}
.step-time span {
	color:#533549;
	text-transform:none;
	}
.step-cost {
	color:#999;
	font-size:12px;
	padding-bottom:10px;
	margin-right:20px;
	}
.step-cost span {
	color:#533549}
.step-tags {
  float: left;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-right:20px;
	color:#999;
	font-size:10px;
	}
.step-tags span {
	color:#533549;
	}
	
#step-detail label {
    font-weight: 700;
    margin: 5px;
}	

#step-detail input[type="text"] {
    width: 250px;
}
	
	
.detail-edit a {
    font-size:12px;
    float:right;
    background:#FFF;
    color:#96a044;
    margin-top:5px;
    text-decoration:none;
    padding:5px 10px;
    line-height: 120%;
    }
.detail-edit a:hover {
    color:#CCC;
    text-decoration:underline;
    }

.sign_in_form {
	padding:10px;
	}
.sign_in_form h1 {
	margin:-10px -10px 0 -10px;
	background:#96a044;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px 10px;
	}
#new_sign_in_data li {
	list-style:none;
	display:block;
	}
#new_sign_in_data label {
	margin:10px 0;
	border:0;
	color:#FFF;
	text-transform:uppercase;
	padding:5px 10px;
	background:#533549;
	}
#new_sign_in_data input {
	border: 2px #e9e9e9 dotted;
	padding:10px;
	margin:10px 0;
	width:570px;
	font-size:14px;
	}
#new_sign_in_data select {
	margin:10px 0;
	}
#new_sign_in_data #guide_submit {
	border: 0;
	padding:5px 10px;
	margin:10px 0;
	width:auto;
	}
#new_sign_in_data span {
	font-size:10px;
	color:#999;
	}

h3.implementation {
    background:url(../images/fork.png) top left no-repeat;
    float:left;
    padding:0 0 0 30px;
    width:450px;
    }
h2.organizer {
    font-size:1.25em;
    }

/**** Isotope CSS stuff ****/

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
