@font-face {
    font-family: "LeagueGothicRegular";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/fonts/League_Gothic-webfont.woff") format("woff"), url("/fonts/League_Gothic-webfont.ttf") format("truetype"), url("/fonts/League_Gothic-webfont.svg#webfontOTINA1xY") format("svg");
}

@font-face {
    font-family: "LeagueGothicRegular";
    font-style: normal;
    font-weight: bold;
    src: local("?"), url("/fonts/League_Gothic-webfont.woff") format("woff"), url("/fonts/League_Gothic-webfont.ttf") format("truetype"), url("/fonts/League_Gothic-webfont.svg#webfontOTINA1xY") format("svg");
}

.colored-band {
  width: 100%;
  position: absolute;
}

.colored-band :nth-child(1) {
  float: left;
  height: 6px;
  width: 15%;
  background-color: #03026B; 
}

.colored-band :nth-child(2) {
  float: left;
  height: 6px;
  width: 14%;
  background-color: #1C009E; 
}

.colored-band :nth-child(3) {
  float: left;
  height: 6px;
  width: 14%;
  background-color: #00079E; 
}

.colored-band :nth-child(4) {
  float: left;
  height: 6px;
  width: 14%;
  background-color: #03026B; 
}

.colored-band :nth-child(5) {
  float: left;
  height: 6px;
  width: 14%;
  background-color: #003C9E; 
}

.colored-band :nth-child(6) {
  float: left;
  height: 6px;
  width: 14%;
  background-color: #006FA0; 
}

.colored-band :nth-child(7) {
  float: left;
  height: 6px;
  width: 15%;
  background-color: #409DD6; 
}

/**  FIX ME  **/
.background-bar {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 42px;
  background-color: #1C009E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1C009E), to(#2d11af)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1C009E, #2d11af); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #1C009E, #3e22bf); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #1C009E, #2d11af); /* IE10 */
  background-image:      -o-linear-gradient(top, #1C009E, #2d11af); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #1C009E, #2d11af);  
}

.body-wrapper {
  left: 50%;
  margin-left: -480px;
  width: 960px;
}

#gc-logo {
  z-index: 2;
  font-family: LeagueGothicRegular,"Impact";
  font-weight: normal;
  color: #eee;
}

#title {
  width: 220px;
  z-index: 3;
  font-size: 36px;
  top: -18px;
}

#geek {
  float: left;
  margin-left: 10px;
}

#corps {
  float: right;
  margin-right: 10px;
}

#header-slogan {
  width: 219px;
  text-align: center;
  margin: -20px;
  font-size: 14px;
}

main {
  top: 128px;
}
