<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Your Social Networks</div>
    <div class="sidebar_box_content ">
      <span>Click the + or - sign to add/remove an account<span>
      <ul class="auth_providers">
        <% SETTINGS['providers'].each do |provider| %>
          <li><%= link_to OmniAuth::Utils.camelize(provider), "/auth/#{provider}", :class => provider %>
          <% if auth = current_user.authentications.via(provider).first %>
            <%= link_to '&nbsp;'.html_safe, auth, :class => 'auth-delete', :method => :delete %>
          <% else %>
            <%= link_to '&nbsp;'.html_safe, "/auth/#{provider}", :class => 'auth-add' %>
          <% end %>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
</div>
