<ul class="auth_providers">
  <% SETTINGS['providers'].each do |provider| %>
    <li><%= link_to OmniAuth::Utils.camelize(provider), "/auth/#{provider}", :class => provider %>
    <% if auth = current_user.authentications.via(provider).first %>
      <%= link_to 'Remove', auth, :method => :delete %>
    <% else %>
      <%= link_to 'Add', "/auth/#{provider}" %>
    <% end %>
    </li>
  <% end %>
</ul>
