<div class="sidebar_box sb_container"> 
    <div class="sidebar_box_title">Core Team</div> 
    <div class="sidebar_box_content"> 
      <% @app.core_team_members.each do |organizer|%>
      <div class="supporter_image">
        <%= image_tag organizer.user.person.photo.url %>
        <%=link_to organizer.user.person.name, organizer.user.person %>
      </div> 
      <%end%>
      <div class="clear"></div> 
        <div class="sidebar_box_more_info supporters_fix"><a href="#" class="arrow-icon">Full List</a></div> 
        <div class="clear"></div> 
    </div> 
</div>