<div class="side-bar-item"> 
    <div class="side-bar-box-title">Regional Teams</div> 
    <div class="side-bar-box-content"> 
      <ul class="regional-teams">
      <% @app.regional_teams.each do |team|%>
          <li><%=link_to "#{team.region.city}, #{team.region.state}", team.to_url %></li>
      <%end%>
      </ul>
      <div class="clear"></div> 
        <div class="side-bar-box-more-info supporters-fix"><a href="#" class="arrow-icon">Full List</a></div> 
        <div class="clear"></div> 
    </div> 
</div>
