<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
    </h1>
    <p>
    </p>
  </div>
<% end %>

<%= render :partial => 'shared/search', :locals => {:resource => @apps.first.class.new} %>

<%= render :partial => 'shared/list', :object => @apps %>

