<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
      REGIONS!
    </h1>
    <p>
      A different word for regions? Locales? Areas? 'Hoods? Something   ...more playful?
    </p>
  </div>
<% end %>

<%= render :partial => 'shared/search', :locals => {:resource => @regions.first.class.new} %>

<%= render :partial => 'shared/list', :object => @regions %>

